<html>
    <head>
        <title>{% block title %}To Do List - Sani Naimayer{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            crossorigin="anonymous">
            
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                crossorigin="anonymous"></script>
            
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="#">To Do List Sani Naimayer</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
