{% extends "public/base.html" %}

{% load rest_framework static %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'todo/task/js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/tasklist/js/form.js' %}"></script>

    <style type="text/css">
        .table-responsive {
            max-height: 600px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center mb-4">
            <div class="col-12">
                <button type="button" class="btn btn-success" id="addTaskButton" data-toggle="modal" data-target="#formTaskModel">
                    Adicionar tarefa
                </button>
                <button type="button" class="btn btn-success" id="addTaskListButton" data-toggle="modal" data-target="#formTaskListModel">
                    Adicionar lista
                </button>

                <div class="modal fade" id="formTaskModel" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="taskModalLabel">Adicionar Tarefa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="taskForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="" />
                                    {% render_form task_serializer %}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="deleteTaskButton" class="btn btn-danger mr-auto" disabled="disabled">Remover tarefa</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="button" id="saveTaskButton" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="formTaskListModel" tabindex="-1" 
                    aria-labelledby="taskListModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="taskListModalLabel">Adicionar Lista</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="taskListForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="" />
                                    {% render_form tasklist_serializer %}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="deleteTaskListButton" class="btn btn-danger mr-auto" disabled="disabled">Remover lista</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="button" id="saveTaskListButton" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        Tarefas (Avulsas)
                                    </div>
                                </th>
                                {% for tl in task_list %}
                                    <th class="col-3 ml-4">
                                        <div class="d-flex w-100 justify-content-between">
                                            <a href="javascript:void(0);" class="tasklist" data-tasklist="{{ tl.pk }}">{{ tl.name }}</a>
                                        </div>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-3">
                                    <div class="list-group">
                                        {% for task in single_tasks %}
                                            <a href="javascript: void(0)" class="task list-group-item list-group-item-action" 
                                                data-task="{{ task.pk }}">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <small class="mb-1">{{ task.task_date }}</small>
                                                    <small class="badge {% if task.is_completed %}badge-success{% else %}badge-warning{% endif %}">
                                                        {{ task.status }}
                                                    </small>
                                                </div>
                                                <p class="mb-1">
                                                    {{ task.description }}    
                                                </p>
                                            </a>
                                        {% empty %}
                                            <p class="text-center">Sem tarefas</p>
                                        {% endfor %}
                                    </div>
                                </td>
                                {% for tl in task_list %}
                                    <td class="col-3 ml-4">
                                        <div class="list-group">
                                            {% for task in tl.tasks.all %}
                                            <a href="javascript: void(0)" class="task list-group-item list-group-item-action" 
                                                data-task="{{ task.pk }}">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <small class="mb-1">{{ task.task_date }}</small>
                                                        <small class="badge {% if task.is_completed %}badge-success{% else %}badge-warning{% endif %}">
                                                            {{ task.status }}
                                                        </small>
                                                    </div>
                                                    <p class="mb-1">
                                                        {{ task.description }}    
                                                    </p>
                                                </a>
                                            {% empty %}
                                                <p class="text-center">Sem tarefas</p>
                                            {% endfor %}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}